/* 

/*  responsove css start */

@media only screen and (max-width: 480px) {
   


    nav{
        background: url(./img/bg-slider1.jpg) center no-repeat;
        background-size: cover;
    }
    /*  default css  end  */
    /*   nav css start */
    a.nav-link.active {
        font-weight: 700;
        font-size: 1.1rem;
        margin: 10px ;
    }
    a.navbar-brand {
        font-weight: bold;
    }
    /*   nav css  end  */
    
    /*  hero section css staret */
    .card{
        width: 100%;
    }
    .hero-section{
        background: url(./img/bg-slider1.jpg) no-repeat center;
        width: 100%;
        height: 100vh;
        background-size: cover;
    }
    .hero-content{
    margin-left: 10px;
    }
    .hero-content h1{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .hero-content h6{
        color: rgb(95, 112, 143);
        line-height: 1rem;
        font-size: .5rem;
    }
    .hero-content h6{}
    
    input#tnp-1 {
       
        margin-top: 1rem;
        padding: 15px 10px;
        border-radius: 15px;
        border: none;
    }
    input.tnp-button {
         margin-left: 10px;
        margin-top: 1rem;
        color: white;
        background-color: #da3440;
        padding: 15px 10px;
        border-radius: 20px;
        border: none;
        font-weight: bold;
    }
    .hro-right img{
        margin-left: 30px;
        width: 300px;
    }
    .planing-section{
       margin-top: 10rem;
    }

    /*  hero section css  end  */
  }


  @media only screen and (max-width: 480px) {
    /*  about css start */
.about{
    background-color: #fff6f5 !important;
}
.left-img img{
    max-width: 100%;
}
.about-right-content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}
.about-right-content h6 {
    color: #da3440;
    margin-bottom: 20px;
}
.about-right-content button {
    margin-bottom: 10px;
    background-color: #ff4a57;
    padding: 15px 25px ;
    border: none;
    border-radius: 20px;
    color: whitesmoke;
    font-weight: bold;
}
/*  about css  end  */
  }


