/*  google froont  */

  @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  h1,h2,h3,h4,h5,h6, a.span ,p{
    font-family: 'Rubik', sans-serif;
  }
/*  google  end   */

/*  default css start */
  body{
    overflow-x: hidden;
  }
nav{
    background: url(./img/bg-slider1.jpg) center no-repeat;
    background-size: cover;
}
/*  default css  end  */
/*   nav css start */
a.nav-link.active {
    font-weight: 700;
    font-size: 1.1rem;
    margin: 10px ;
}
a.navbar-brand {
    font-weight: bold;
}
/*   nav css  end  */

/*  hero section css staret */
.hero-section{
    background: url(./img/bg-slider1.jpg) no-repeat center;
    height: 90vh;
    background-size: cover;
}
.hero-content{

}
.hero-content h1{
    font-size: 3.5rem;
    margin-bottom: 2rem;
}
.hero-content h6{
    color: rgb(95, 112, 143);
    line-height: 1.5rem;
    font-size: 1.2rem;
}
.hero-content h6{}

input#tnp-1 {
    margin-top: 2rem;
    padding: 15px 100px;
    border-radius: 20px;
    border: none;
}
input.tnp-button {
    margin-top: 2rem;
    color: white;
    background-color: #da3440;
    padding: 15px 50px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
}
.hro-right{}
.hro-right img{
max-width: 100%;
}

/*  hero section css  end  */

/*  planing-section css start */
.planing-section{
    padding: 100px 0;
}
.card{
    margin-top:4rem;
    height: 60vh;
}
.card i {
   
    font-size: 3rem;
    color: #da3440;
}
.card-title{
    margin-bottom: 10px;
}
.arow{
    margin-left: 100px;
}
.card:hover  {
    color: whitesmoke;
    background-color:#da3440;
}
.card i:hover{
    color: whitesmoke;
}

/*  planing-section css end  */

/*  about css start */
.about{
    background-color: #fff6f5 !important;
}
.left-img img{
    max-width: 100%;
}
.about-right-content {}
.about-right-content h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
}
.about-right-content h6 {
    color: #da3440;
    margin-bottom: 20px;
}
.about-right-content p {}
.about-right-content button {
    margin-bottom: 20px;
    background-color: #ff4a57;
    padding: 15px 35px ;
    border: none;
    border-radius: 20px;
    color: whitesmoke;
    font-weight: bold;
}
/*  about css  end  */

/*  problemsection strart */
.problem-right-img img{
    max-width: 100%;
}
.pronblem-content p{
   margin-bottom: 25px;
}
.pronblem-content  i{
    color: #da3440;
}

.pronblem-content  button{
    margin-top: 2rem;
    color: white;
    background-color:#ff4a57;
    padding: 15px 50px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
}

.pronblem-content h6{
    color: #da3440;
}
/*  problemsection  end  */

/*  business-section start */

.business-section{
    background-color: #fff6f5 !important;
}
.busines-left-section img{
    max-width: 100%;
    width: 500px;
    height: auto;
}
.business-right-section h6{
    color: #da3440;
}
.business-right-section h1{
    font-size: 4rem;
    margin-bottom: 20px
}
.business-right-section p{
    line-height: 30px;
    
}
.business-right-section i{
    font-size: 4rem;
    color: #da3440;
    margin-bottom: 20px;
}
.business-right-section button{
    font-weight: bold;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 15px 50px ;
     background-color: #ff4a57;
}

/*  business-section  end  */

/*  joi us button css start */
.join-us-btn button{
    margin-bottom: 20px;
    background-color: #ff4a57;
    padding: 15px 50px ;
    border: none;
    border-radius: 20px;
    color: whitesmoke;
    font-weight: bold;
}

.join-us-content h1 {
    font-size: 3rem;
}
.join-us-content h6{
    color: #da3440;
    margin-top: 2rem;
}
/*  joi us button css end   */

/*  about-sectio-3 start */
.about-3-section {
    background-color: #fff6f5 !important;
}

.about3-content h6{
    color: #da3440;
}
.about3-content h1{
    font-size: 3rem;
}
.about3-content{}
.about-method i{
color: #ff4a57;
font-size: 3rem;
margin: 10px;

}
.about-method h4{
    font-size: 1.5rem;
}

/*  about-sectio-3 end  */

/*  clirnt-section start */
.client-section{
    background: url(./img/bg-parallax2.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    
}
.client-content{
    color: whitesmoke;
}
.client-content h1{
    font-size: 3.5rem;
    font-weight: 800;
}
.client-content i{
    color: #ff4a57;
    font-size: 4rem;
}
.client-content p{
    font-size: 1.5rem;
}
.clien-user h3{
    font-weight: 800;
}
/*  clirnt-section  end  */

/*  pricing-table section srart*/
.join-us-section-2{
    background-color: #fff6f5 !important;
    height: 200vh;
}

.pricing-card .card{
     width: 100%;
    height: 90vh;
}
.card-content{}
.card-content h6{}
.card-content span{
    font-size: 1rem;
}
.card-content button{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-color:#ff4a57;
    color: black;
    font-weight: bold;
}

/*  pricing-table section  end */
